<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pilestudios.really"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
    <uses-permission android:name="com.android.vending.BILLING" />

    <permission
        android:name="pilestudios.really.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="pilestudios.really.permission.C2D_MESSAGE" />

    <application
        android:name="pilestudios.really.startApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="pilestudios.really.HomeListActivity"
            android:label="@string/title_activity_home_list" >

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value="android.app.Activity" /> -->
        </activity>
        <activity
            android:name="pilestudios.really.NewPhotoActivity"
            android:label="@string/title_activity_new_photo"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="pilestudios.really.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="pilestudios.really" />
            </intent-filter>
        </receiver>

        <activity
            android:name="pilestudios.async.startNewFeeds"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity android:name="pilestudios.musicplayer.MusicPlayer" >
        </activity>
        <activity android:name="pilestudios.friends.friends" >
        </activity>
        <activity android:name="pilestudios.musicplayer.PlaylistSelector" >
        </activity>
        <activity android:name="pilestudios.musicplayer.PlaylistContent" >
        </activity>
        <activity android:name="pilestudios.musicplayer.playlistMusicPlayer" >
        </activity>
        <activity android:name="HomeScreen" >
        </activity>
        <activity android:name="ProfileListActivity" >
        </activity>
        <activity android:name="pilestudios.friends.FriendsViewSongs" >
        </activity>
        <activity android:name="pilestudios.beatbox.more.more" >
        </activity>
    </application>

</manifest>